<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/style-ruleta.css" />
        <link rel="stylesheet" href="../css/estilos-modal.css" />
    </head>
    <body>
        <div id="modal-container">
            <div class="modal-background">
                <div class="modal">
                    <img id="imagen-regalo" height="500px" />
                    <p id="texto-regalo"></p>
                </div>
            </div>
        </div>
        <div class="contenedor-ruleta">
            <img class="marker" src="../img/marcador.png" alt="marker" />
            <img class="ruleta" src="../img/ruleta.png" alt="ruleta" />
        </div>

        <div class="jugar">
            <img id="btnJugar" src="../img/jugar.png" alt="Boton Jugar" />
        </div>

        <script src="../js/script-timing.js"></script>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/script-modal.js"></script>
        <script src="../js/script-ruleta.js"></script>
    </body>
</html>