* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    min-height: 100%;
    background-image: url(../img/fondo.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 65vh;
    flex-direction: column; /* Agrega esta línea */
}

.fila {
    display: flex;
    justify-content: center;
}

.boton {
    width: 350px; 
    height: 100px; 
    margin: 40px; 
}

.boton:active img {
    filter: brightness(80%); /* Cambia el valor según tus preferencias */
}

.boton img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
